<div class="icon">
  <a href="../../index.html"><img src="../images/logo.webp" alt="Nutriplan logo" /></a>  
</div>
<div class="search">
  <h2>Find any food nutritional facts</h2>
  <div class="inputContener">
    <form method="get" action="../../search_listing/index.html" class="searchForm">
      <input
      type="text"
      name="searchbar"
      id="searchbar"
      placeholder="Your search"
      />
      <input type="submit" value="🔍" id="submit-search">

    </form>
    
  </div>
</div>
